
body.app-media {
	padding-top:0;
	font-size:14px;
}

body, .page {
	background: #fff;
}

a {
	text-decoration: none !important;
}

.btn {
	padding:10px 18px;
}

.btn-danger {
	background:#A51C31;
	border-color:#A51C31;
}

.btn-danger:hover {
	background:#C50724;
	border-color:#C50724;
}

.btn-danger:active {
	background:#000 !important;
	border-color:#000 !important;
}

h3 {
	color:#AE484B;
	font-size:24px;
	font-weight:700;
	margin:0;
	padding:0 0 24px 0;
}

.btn-primary {
	background: #4C8399;
	border-color:#4C8399;
}

.navbar {
	min-height:85px;
	margin-bottom:0;
}

.navbar-header {
	width:100%;
	padding:0 15px;
}

.navbar-toolbar>li>a {
	padding:27px 14px;
	line-height: 34px;
}

.navbar .nav.navbar-left {
	margin-left:60px;
}

.nav-utility {
	margin-top:20px;
	color:#000;
}

.nav-utility span {
	display: inline-block;
	margin-right:10px;
}

.site-menu {
	border-bottom:1px solid #ececec;
}

.navbar-collapse .btn {
	float:right;
	margin:26px 0 0 0;
}

.panel-main-content {
	/* max-width:1200px; */
	margin:0 auto;
	border-radius:0;
}

.panel-main-content .panel-body {
	padding:30px 30px 0 40px;
}

.rating .wb-star.orange-600 {
	color:#62a8ea !important; /* changing to blue */
}

.rating .icon {
	margin-right: 5px;
}

.bg-black-800 {
	background: #000
}

.label-header-event-is-active {
	text-transform: uppercase;
	font-size:11px;
	display: block;
	color:#ccc;
	padding:2px 0 0 0;
}

.site-navbar.navbar-inverse .navbar-header .hamburger .hamburger-bar, .site-navbar.navbar-inverse .navbar-header .hamburger:after, .site-navbar.navbar-inverse .navbar-header .hamburger:before {
	background:#D02431;
}

.navbar-inverse {
	background-color:#fff; /* slate #415564 */
}

.site-navbar .navbar-header .navbar-brand-logo {
	height:24px;
}

.navbar-inverse .navbar-toolbar>li>a {
	color:#000;
}

.navbar-inverse .navbar-toolbar>li>a:hover, .navbar-inverse .navbar-toolbar>.open>a, .navbar-inverse .navbar-toolbar>.open>a:focus, .navbar-inverse .navbar-toolbar>.open>a:hover {
	color:#D02431;
	background:rgba(0,0,0,.05);
}

.navbar-inverse .navbar-toggle {
	color:#D02431;
}

.site-menubar.site-menubar-light {
	background:#f5f5f5 !important;
}

.site-menubar-light .site-menu-item.active>a {
	background-color: #fff;
}

.dropdown-menu-footer button {
	margin:10px 0 10px 2.5%;
	width:95%;
}

.page-main {
 background: #fff;
}

.thumb-sm {
	width:80px;
}

.site-sidebar.slidePanel.slidePanel-left, .site-sidebar.slidePanel.slidePanel-right {
	width:350px;
}

.site-sidebar-tab-content .tab-pane{
	padding:10px 10px 0 30px !important;
}

.sidebar-footer {
	text-align: center;
	clear:both;
	margin-left:-30px;
	height:80px !important;
	position: absolute;
	bottom:0;
}

.page-main .page-header {
	margin-bottom:24px;
}

.overlay-panel {
	background:rgba(66,85,99,.7);
}

.overlay-panel h1 {
	margin:10px 0 0 0;
}

.page-aside-inner {
	min-height:100%;
}

.list-group a i {
	min-width:12px;
}

.page-content-actions {
	padding:0;
}

.slidePanel-inner-section {
	border-bottom:0;
}

.tab-content.bsk-tab-content {
	border-bottom:0 !important;
	padding:20px 0 !important;
}

.nav-tabs.btn-group {
	border:0;
}

.nav-tabs.btn-group>li>a {
	padding:0;
	padding:5px 12px;
	border-radius: 0;
	text-align: center;
}

.nav-tabs.btn-group>li>a i {
	text-align: center;
	margin:0;
	padding:0;
}

.nav-tabs.btn-group>li {
	padding:0 !important;
	margin:0;
}

.nav-tabs.btn-group>li.active>a, .nav-tabs.btn-group>li.active>a:focus, .nav-tabs.btn-group>li.active>a:hover {
	background:transparent !important;
	color:#62a8ea;
	border-bottom:transparent;
	padding-bottom:6px;
}

.nav-tabs.btn-group>li.active a {
}

.nav-tabs.btn-group:hover>li>a {
	background:transparent;
}

#sec-details .panel-group .panel-title {
    position: relative;
    padding: 15px 30px;
    font-size: 14px;
}

#sec-details .panel-group .panel-heading {
	padding-top:0;
}

#sec-meetingnotes .panel {
	border:1px solid #eee;
}

.list-group-settings .list-group-item {
	padding:5px 0;
	border-bottom:1px solid #eee;
}

.list-group-settings .list-group-item h5 {
	font-weight:400;
	margin:4px 0 0 0;
}

.banner-wrapper {
	background:#222 0 0 url(../images/bg-2.png) no-repeat;
	margin:0 auto;
	width:100%;
	min-height:660px;
	padding:0;
	background-size:cover;
	position: relative;
	border-bottom:3px solid #A51C31;
	border-radius: 3px 3px 0 0;
}

.banner-wrapper-content {
	margin:0 auto;
	padding:0 50px;
	text-align: center;
}

.banner-wrapper-content h1 {
	font-weight:700;
	text-align: left;
	line-height: 1.4em;
	color:#fff;
	padding:150px 50px 0 50px;
}

.banner-image img {
	width:455px;
	opacity:.4;
}

.banner-bottom {
	position: absolute;
	bottom:0;
	background:rgba(0,0,0,.5);
	width:100%;
	padding:24px 0;
}

.banner-bottom h2 {
	color:#fff;
	font-weight:400;
	font-size:18px;
	margin:0;
	padding:0;
}

.sub-banner-content {
	background:url(../images/small_steps.png);
	padding:50px 60px;
	color:#000;
	font-size:30px;
	font-weight:200;
	line-height: 44px;
	border-bottom:1px solid #ddd;
}

/*---------------------------------------
   SECTION:  FOOTER
-----------------------------------------*/
footer {
    background:#000;
    padding:40px 0 60px 0;
    text-align: left;
    color:#808080;
    font-size:.83em;
    line-height: 1.2em
}


footer .container {
	padding:0;
	margin:0 auto;
}

.footer-links {
    margin:24px 0;
}

.footer-links a {
    display:inline-block;
    margin:0 24px 0 0;
    color:#4C8399;
}

.footer-cta {
    padding:0 0 60px 0;
}

.footer-cta .btn-primary {
    background:#4C8399 !important;
    border-color:#4C8399 !important;
    color:#fff;
    min-width:200px;
}

.footer-cta .btn-primary:hover {
    background:transparent !important;
    border-color:#830615 !important;
    color:#fff;
}

.footer-cta .btn-primary:active {
    background:#D0021B !important;
    border-color:#830615 !important;
    color:#fff;
}

/* modals */

.modal-body {
	font-size:15px;
	line-height: 2.1em;
}

.modal-body h2 {
	margin-top:0;
	font-size:18px;
	font-weight: 700;
	color:#000;
}

.modal-body h3 {
	margin:18px 0 5px 0;
	font-size:16px;
	padding:0;
	color:#000;
	font-weight: 700
}

@media (min-width: 1300px) {
footer .container {
	width:1250px;
}
}